appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
bokeh==2.3.0
boto3==1.17.23
botocore==1.20.23
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
configparser==5.0.2
decorator==4.4.2
docker-pycreds==0.4.0
gitdb==4.0.5
gitpython==3.1.14
google-api-core==1.26.1
google-auth==1.27.1
google-cloud-core==1.6.0
google-cloud-storage==1.36.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
idna==2.10
imageio-ffmpeg==0.4.3
imageio==2.9.0
importlib-metadata==3.7.2
iniconfig==1.1.1
ipykernel==5.5.0
ipython-genutils==0.2.0
ipython==7.16.1
jedi==0.18.0
jinja2==2.11.3
jmespath==0.10.0
jupyter-client==6.1.11
jupyter-core==4.7.1
markupsafe==1.1.1
moviepy==1.0.3
numpy==1.19.5
packaging==20.9
parso==0.8.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.1.2
pip==21.0.1
pluggy==0.13.1
proglog==0.1.9
promise==2.3
prompt-toolkit==3.0.16
protobuf==3.15.5
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
pyyaml==5.4.1
pyzmq==22.0.3
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.4
sentry-sdk==1.0.0
setuptools==40.6.2
shortuuid==1.0.1
six==1.15.0
smmap==3.0.5
soundfile==0.10.3.post1
subprocess32==3.5.4
toml==0.10.2
tornado==6.1
tqdm==4.59.0
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.3
wandb==0.10.23.dev1
wcwidth==0.2.5
zipp==3.4.1