# GraphQL
/wandb/sdk/internal/internal_api.py @wandb/sdk-team
# Changing public interfaces
/tests/unit_tests/test_library_public.py @wandb/sdk-team
/wandb/__init__.py @wandb/sdk-team
# Packaging and releasing-related files
/pyproject.toml @wandb/sdk-team
/setup.py @wandb/sdk-team
/CHANGELOG.md @wandb/sdk-team
/MANIFEST.in @wandb/sdk-team
# wandb-core backend. TODO: relax after initial roll-out
/core/ @wandb/sdk-team
# system metrics
/nvidia_gpu_stats/ @wandb/sdk-team
/apple_stats/ @wandb/sdk-team
# CircleCI configuration
/.circleci @wandb/sdk-team
# GitHub configuration
/.github @wandb/sdk-team


# ML Workflows team
/core/pkg/artifacts/ @wandb/mlw-team
/wandb/sdk/artifacts/ @wandb/mlw-team
/tests/system_tests/test_artifacts/ @wandb/mlw-team
/tests/unit_tests/test_artifacts/ @wandb/mlw-team
/tests/unit_tests/test_launch/ @wandb/mlw-team
