[paths]
canonicalsrc =
    wandb/
    .tox/func-*/lib/python*/site-packages/wandb/

[run]
# TODO(jhr): enable this in the future
# branch = True
concurrency = multiprocessing,thread

source =
    wandb/

omit =
    **/wandb/vendor/**
    **/wandb/proto/**

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    @abstractmethod

omit =
    **/wandb/vendor/**
    **/wandb/proto/**

ignore_errors = True
