[paths]
canonicalsrc =
    wandb/
    .tox/func-s_base-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_tf115-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_tf21-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_tf25-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_tf26-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_ray1_12-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_ray2-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_service-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_py310-py310/lib/python3.10/site-packages/wandb/
    .tox/func-s_docs-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_imports-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_noml-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_grpc-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_sklearn-py37/lib/python3.7/site-packages/wandb/
    .tox/func-s_metaflow-py37/lib/python3.7/site-packages/wandb/

[run]
# TODO(jhr): enable this in the future
# branch = True
concurrency = multiprocessing,thread

source =
    wandb/

omit =
    wandb/vendor/*
    wandb/proto/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    @abstractmethod

omit =
    wandb/vendor/*
    wandb/proto/*
