# NOTE: We use Hatch to build wandb, and it respects the *first* .gitignore
# file it sees. It doesn't consider .gitignore files in subdirectories.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg

# Conventional location for Python virtual environments.
.venv/*

# Configuration files
.python-version
.idea/
# .vscode/

# nox cache
.nox/
.nox-wandb/

# Unit test / coverage reports / Linting
test-results/
.pytest_cache/
.hypothesis/

.coverage
coverage.xml
coverage.txt
cover-results/

mypy-results/
.mypy_cache/

# Build output in gpu_stats
gpu_stats/target/

# Outputs of tools/local_wandb_server.py
tools/local_wandb_server.state.lock
tools/local_wandb_server.state
