__pycache__/
htmlcov/
.coverage
.tox/
.mypy_cache/
.pytest_cache/
build/
dist/
*.pyc
.python-version
wandb.egg-info
docs/themes/
docs/.generated-files.txt
docs/config.toml
tests/logs/*
!tests/logs/cleanup.sh
pip-wheel-metadata
.vscode/.ropeproject
xcuserdata/
test-results/
mypy-results/