include wandb/py.typed
include package_readme.md
include requirements.txt
include requirements.sweeps.txt
include wandb/bin/apple_gpu_stats
include wandb/sweeps/config/schema.json


recursive-include wandb *.py
recursive-include wandb *.sh
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
