include LICENSE
include README.md
include wandb/kubeflow *.html *.yaml *.sh

recursive-include tests *
recursive-include wandb *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif