[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
wandb/vendor/
| wandb/bin/
| wandb/proto/
| wandb/proto_check/
| wandb/sdk/launch/deploys/
| wandb/run*
| wandb/offline-run*
| __pycache__
| .pyc
'''

[tool.isort]
profile = "black"
skip = ["wandb/__init__.py"]
extend_skip_glob = [
    "wandb/vendor/**",
    "wandb/proto/*.py",
    "wandb/proto_check/*.py",
]
skip_gitignore = "True"
