[tool.black]
line-length = 88
exclude = '''
  wandb/vendor/
| wandb/sdk_py27/
| wandb/sweeps/
| wandb/old/
| wandb/bin/
| wandb/proto/
| wandb/docker/wandb-entrypoint.sh
| tests/fixtures/
| tests/wandb_tensorflow_summary.pb
| tests/logs/cleanup.sh
| tests/notebooks/
'''
include = '''
  wandb/
| tests/
'''
