[build-system]
requires = ['setuptools>61']
build-backend = "setuptools.build_meta"

[project]
name = "wandb"
dynamic = ["version"]
description = "A CLI and library for interacting with the Weights & Biases API."
authors = [{ name = "Weights & Biases", email = "support@wandb.com" }]
readme = "package_readme.md"
license = { file = "LICENSE" }
requires-python = ">=3.7"
dependencies = [
    "Click>=7.1,!=8.0.0",                                                                # click 8.0.0 is broken
    "GitPython>=1.0.0,!=3.1.29",                                                         # CVE-2022-24439
    "requests>=2.0.0,<3",
    "psutil>=5.0.0",
    "sentry-sdk>=1.0.0",
    "docker-pycreds>=0.4.0",
    "protobuf>=3.12.0,!=4.21.0,<5; python_version < '3.9' and sys_platform == 'linux'",
    "protobuf>=3.15.0,!=4.21.0,<5; python_version == '3.9' and sys_platform == 'linux'",
    "protobuf>=3.19.0,!=4.21.0,<5; python_version > '3.9' and sys_platform == 'linux'",
    "protobuf>=3.19.0,!=4.21.0,<5; sys_platform != 'linux'",
    "PyYAML",
    "setproctitle",
    "setuptools",
    "appdirs>=1.4.3",
    "typing_extensions; python_version < '3.10'",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: System :: Logging",
    "Topic :: System :: Monitoring",
]


[project.scripts]
wandb = "wandb.cli.cli:cli"
wb = "wandb.cli.cli:cli"

[project.urls]
"Source" = "https://github.com/wandb/wandb"
"Bug Reports" = "https://github.com/wandb/wandb/issues"
"Documentation" = "https://docs.wandb.ai/"

[project.optional-dependencies]
kubeflow = ["kubernetes", "minio", "google-cloud-storage", "sh"]
gcp = ["google-cloud-storage"]
aws = ["boto3"]
azure = ["azure-identity", "azure-storage-blob"]
media = [
    "numpy",
    "moviepy",
    "pillow",
    "bokeh",
    "soundfile",
    "plotly",
    "rdkit-pypi",
]
sweeps = ["sweeps>=0.2.0"]
launch = [
    "awscli",
    "azure-identity",
    "azure-containerregistry",
    "azure-storage-blob",
    "boto3",
    "botocore",
    "chardet",
    "google-auth",
    "google-cloud-aiplatform",
    "google-cloud-artifact-registry",
    "google-cloud-compute",
    "google-cloud-storage",
    "iso8601",
    "kubernetes",
    "kubernetes_asyncio",
    "optuna",
    "nbconvert",
    "nbformat",
    "typing_extensions",
    "PyYAML>=6.0.0",
]
models = ["cloudpickle"]
async = ["httpx>=0.23.0"]
perf = ["orjson"]

[tool.setuptools]
zip-safe = false
include-package-data = true
packages = ["wandb"]
package-dir = { "wandb" = "wandb" }
package-data = { "wandb" = ["py.typed"] }

[tool.setuptools.dynamic]
version = { attr = "wandb.__version__" }


[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-vvv --cov-config=pyproject.toml"
markers = [
    "image_output",
    "multiclass",
    "wandb_args",
    "flaky",
    "wandb_core_failure(feature): test failures with wandb-core, grouped by feature",
]
timeout = 60
log_format = "%(asctime)s %(levelname)s %(message)s"
log_date_format = "%Y-%m-%d %H:%M:%S"
testpaths = "tests"
filterwarnings = "ignore::DeprecationWarning"
open_files_ignore = "*.ttf"
norecursedirs = [
    "vendor",
    "wandb/vendor",
    "build/",
    "tests/functional_tests",
    "tests/standalone_tests",
]

[tool.coverage.paths]
source = ["wandb", ".tox/*/lib/python*/site-packages/wandb"]

[tool.coverage.run]
# branch = true
concurrency = ["multiprocessing", "thread"]
source = ["wandb"]
omit = ["**/wandb/vendor/**", "**/wandb/proto/**"]

[tool.coverage.report]
exclude_lines = ["pragma: no cover", "if TYPE_CHECKING:", "@abstractmethod"]
omit = ["**/wandb/vendor/**", "**/wandb/proto/**"]
ignore_errors = true


[tool.black]
line-length = 88
target-version = ['py37', 'py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
exclude = '''
wandb/vendor/
| wandb/bin/
| wandb/proto/
| wandb/proto_check/
| wandb/sdk/launch/deploys/
| wandb/run*
| wandb/offline-run*
| __pycache__
| .pyc
| .tox/
'''

[tool.ruff]
exclude = ["wandb/__init__.py"]
extend-exclude = ["wandb/vendor/**", "wandb/proto/**"]
select = ["F", "E", "W", "B", "I", "N", "D", "C90", "UP"]
ignore = [
    "B904",
    "E501",
    "D1",    # Allow missing docstrings.
    "D417",  # Don't require descriptions for all arguments.
    "UP022",
    "UP036",
]
target-version = "py37"

[tool.ruff.isort]
split-on-trailing-comma = false

[tool.ruff.per-file-ignores]
"**/__init__.py" = ["E402", "F401"]
"wandb/__init__.py" = ["I001"]
"wandb/cli/cli.py" = ["C901"]
"wandb/wandb_controller.py" = ["N806"]
"wandb/sklearn/**" = ["B010", "B011", "N803", "N806", "UP031"]
"wandb/wandb_torch.py" = ["C901", "D", "E741", "F841"]
"wandb/integration/metaflow/metaflow.py" = ["F811"]
"wandb/integration/magic.py" = ["B026", "F401", "F841", "N806", "N818"]
"wandb/plots/**" = ["D", "B007", "F401", "N812", "F841", "UP031"]
"wandb/old/**" = ["B006", "B020", "D", "F822"]
"tests/pytest_tests/unit_tests_old/**" = ["B", "C", "D", "E", "F", "N", "UP026"]
"tests/functional_tests/t0_main/fastai/t1_v1.py" = ["F405"]
"tests/functional_tests/t0_main/metaflow/**" = ["D", "N806"]

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.pycodestyle]
ignore-overlong-task-comments = true

[tool.ruff.mccabe]
max-complexity = 18

[tool.mypy]
warn_redundant_casts = true
exclude = '''
   (?x)(
      wandb/vendor/.
   )
'''

[[tool.mypy.overrides]]
module = [
    # wandb/*
    "wandb.*",

    # wandb/testing/*
    "wandb.testing.*",

    # wandb/env
    "wandb.env",
    "wandb.filesync.*",
    "wandb.util",
    "wandb.integration.catboost.*",
    "wandb.integration.lightgbm.*",
    "wandb.apis.importers.*",
    "wandb.integration.fastai.*",
    "wandb.integration.keras.callbacks.*",
    "wandb.integration.yolov8.*",
    "wandb.integration.sb3.*",
    "wandb.integration.tensorboard.*",
    "wandb.integration.xgboost.*",
    "wandb.sdk.*",
    "wandb.sdk.artifacts.*",
    "wandb.sdk.backend.*",
    "wandb.sdk.integration_utils.*",
    "wandb.sdk.interface.*",
    "wandb.sdk.internal.*",
    "wandb.sdk.launch.*",
    "wandb.sdk.lib.*",
    "wandb.sdk.service.*",
    "wandb.sdk.verify.*",

    # Overrides: wandb/sdk/wandb_*
    "wandb.sdk.wandb_run",
    "wandb.sdk.wandb_watch",
    "wandb.sdk.wandb_init",
    "wandb.sdk.wandb_login",
    "wandb.sdk.wandb_sweep",
    "wandb.sdk.wandb_config",
    "wandb.sdk.wandb_history",
    "wandb.sdk.wandb_helper",
    "wandb.sdk.wandb_require",
    "wandb.sdk.wandb_settings",
    "wandb.sdk.wandb_alerts",
    "wandb.sdk.wandb_summary",
    "wandb.sdk.wandb_save",
    "wandb.sdk.wandb_sync",

    # wandb/sdk/data_types/
    "wandb.sdk.data_types",
    "wandb.sdk.data_types.*",
    "wandb.sdk.data_types._dtypes",

    # wandb/sdk/interface/
    "wandb.sdk.interface.summary_record",

    # wandb/sdk/internal/
    "wandb.sdk.internal.tpu",
    "wandb.sdk.internal.internal_api",
    "wandb.sdk.internal.meta",
    "wandb.sdk.internal.run",
    "wandb.sdk.internal.update",
    "wandb.sdk.internal.profiler",
    "wandb.sdk.internal.sample",
    "wandb.sdk.internal.progress",
    "wandb.sdk.internal.datastore",
    "wandb.sdk.internal.file_stream",
    "wandb.sdk.internal.file_pusher",
    "wandb.sdk.internal.handler",
    "wandb.sdk.internal.sender",
    "wandb.sdk.internal.tb_watcher",
    "wandb.sdk.internal.stats",
    "wandb.sdk.internal.internal",

    # wandb/sdk/lib/
    "wandb.sdk.lib.sparkline",
    "wandb.sdk.lib.disabled",
    "wandb.sdk.lib.lazyloader",
    "wandb.sdk.lib.retry",
    "wandb.sdk.lib.config_util",
    "wandb.sdk.lib.server",
    "wandb.sdk.lib.module",
    "wandb.sdk.lib.file_stream_utils",
    "wandb.sdk.lib.timed_input",
    "wandb.sdk.lib.console",
    "wandb.sdk.lib.redirect",
    "wandb.sdk.lib.preinit",
    "wandb.sdk.lib.reporting",
    "wandb.sdk.lib.gitlib",
    "wandb.sdk.lib.handler_util",
    "wandb.sdk.lib.ipython",

    # wandb/apis/reports/
    "wandb.apis.reports.*",

    # wandb/proto/
    "wandb.proto.*",

    # wandb/docker/
    "wandb.docker.*",

    # external libraries
    "psutil.*",
    "tensorboard.*",
    "grpc.*",
    "setproctitle.*",
    "ultralytics.*",
    "wandb.vendor.*",
    "wandb_gql.*",
    "wandb_graphql.*",
]

# Ignore errors settings
ignore_errors = [
    "wandb.*",
    "wandb.testing.*",
    "wandb.sdk.integration_utils.*",
    "wandb.sdk.verify.*",
    "wandb.sdk.wandb_watch",
    "wandb.sdk.wandb_login",
    "wandb.sdk.wandb_summary",
    "wandb.sdk.wandb_save",
    "wandb.sdk.data_types",
    "wandb.sdk.data_types._dtypes",
    "wandb.sdk.interface.summary_record",
    "wandb.sdk.internal.file_pusher",
    "wandb.sdk.internal.file_stream",
    "wandb.sdk.internal.datastore",
    "wandb.sdk.internal.handler",
    "wandb.sdk.internal.sender",
    "wandb.sdk.internal.tb_watcher",
    "wandb.sdk.internal.stats",
    "wandb.sdk.internal.internal",
    "wandb.sdk.lib.preinit",
    "wandb.sdk.lib.reporting",
    "wandb.sdk.lib.gitlib",
    "wandb.sdk.lib.handler_util",
    "wandb.sdk.lib.ipython",
    "wandb.apis.reports.*",
    "wandb.integration.fastai.*",
]

ignore_missing_imports = [
    "wandb.proto.*",
    "psutil.*",
    "tensorboard.*",
    "grpc.*",
    "setproctitle.*",
    "ultralytics.*",
    "wandb.vendor.*",
    "wandb_gql.*",
    "wandb_graphql.*",
]
