-r requirements_test.txt

astunparse; python_version < '3.9'
cloudpickle
click~=8.1
filelock~=3.13
pydantic~=2.9; python_version < '3.9'
pydantic~=2.11; python_version >= '3.9'

# For Pydantic to work with modern type annotations in older Pythons:
eval-type-backport~=0.2.0; python_version >= '3.8' and python_version < '3.10'

Pillow
polars
# Version 2.0.0 removes moviepy.editor, used by TensorBoard in some tests
# to log videos.
moviepy~=1.0
imageio[ffmpeg]
matplotlib
soundfile
rdkit
plotly
bokeh

tqdm
tenacity

ipython
ipython<8.13; python_version < '3.9'
jupyter
ipykernel
nbclient~=0.10.1

tensorflow==2.9.2; python_version < '3.9' and sys_platform != 'darwin'
tensorflow-macos==2.9.2; python_version < '3.9' and sys_platform == 'darwin'
tensorflow~=2.20; python_version >= '3.9' and sys_platform != 'darwin'
numpy<2.4.0  # tensorflow==2.20.0 uses deprecated args removed in numpy==2.4.0

# This is a transitive dependency of `tensorflow` via `tensorboard`
# which fails to specify an upper bound causing import errors.
protobuf==3.19.6; python_version < '3.9' and sys_platform == 'darwin'

scikit-learn
torch
torchvision
jax[cpu]
lightning
# As of 2025/10/08, ray wheels for python>=3.13 are not available for Windows.
ray[air,tune]; sys_platform != 'win32'

pyarrow
metaflow~=2.15.21
xgboost
lightgbm
mlflow
urllib3
docker
catboost
openai
gymnasium
stable_baselines3
dspy

requests~=2.23
responses
prometheus_client
google-cloud-aiplatform

# See:
# - https://github.com/boto/botocore/pull/1107
# - https://github.com/boto/botocore/pull/1230
boto3
botocore>=1.5.76

# `ariadne-codegen` is a dev-only dependency used for GraphQL codegen.
ariadne-codegen~=0.16.0; python_version >= '3.9'

.[perf]
awscli~=1.42; sys_platform == 'win32'
.[launch]
.[sweeps] ; sys_platform != 'darwin' or (sys_platform == 'darwin' and platform.machine != 'arm64')
.[azure]

# Added indirectly via [launch].
# Breaks 3.8 CI due to https://github.com/tomplus/kubernetes_asyncio/issues/391
kubernetes-asyncio<34.3; python_version <= '3.8'
