Click>=7.0
GitPython>=1.0.0
gql==0.2.0
nvidia-ml-py3>=7.352.0
python-dateutil>=2.6.1
requests>=2.0.0
shortuuid>=0.5.0
six>=1.10.0
watchdog>=0.8.3
psutil>=5.0.0
sentry-sdk>=0.4.0
subprocess32>=3.5.3
docker-pycreds>=0.4.0
configparser>=3.8.1
typing
protobuf
prompt_toolkit
PyYAML
numpy
