pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-split
pytest-mock
pytest-timeout
pytest-openfiles
pytest-flakefinder
parameterized

flask>2.0.0
pandas
responses

coverage[toml]
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
