pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-split
pytest-mock
pytest-timeout
pytest-flakefinder
pyfakefs
parameterized

flask>2.0.0
pandas
responses

coverage[toml]

pyte~=0.8  # Terminal emulator for testing interactions with the terminal.
