pytest
coverage
coveralls
tox==3.7
pip
Pillow
pandas
numpy
matplotlib
soundfile
boto3
google-cloud-storage
moviepy; python_version >= '3.6'
imageio; python_version >= '3.6'
pytest-flask
pytest-mock
tensorflow==1.15
