pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-split
pytest-mock
pytest-timeout
pytest-openfiles
pytest-flakefinder
pytest-rerunfailures
parameterized

flask>2.0.0
pandas
responses
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
