-r requirements_test.txt

astunparse; python_version < '3.9'

hypothesis
hypothesis-fspaths

Pillow
pandas
polars
moviepy
imageio[ffmpeg]
matplotlib
soundfile
rdkit
plotly
bokeh

tqdm

ipython
ipython<8.13; python_version < '3.9'
ipykernel
nbclient

scikit-learn
tensorflow; python_version > '3.11'
tensorflow<2.14; sys_platform != 'darwin' and python_version < '3.12'
tensorflow-macos; python_version < '3.11' and sys_platform == 'darwin' and platform.machine == 'arm64'
torch
torchvision
jax[cpu]
lightning
ray[air,tune]

fastcore
pyarrow
metaflow
xgboost
lightgbm
mlflow
urllib3
docker
catboost

responses
prometheus_client
google-cloud-aiplatform

.[perf]
.[launch]
.[sweeps] ; sys_platform != 'darwin' or (sys_platform == 'darwin' and platform.machine != 'arm64')
.[azure]
