version: 2
workflows:
    version: 2
    test:
        jobs:
            - test-3.6
            - test-3.5
            - test-2.7
jobs:
    test-3.6: &test-template
        docker:
            - image: circleci/python:3.6
        working_directory: ~/repo
        steps:
            - checkout
            - restore_cache:
                  keys:
                      - v2-dependencies-{{ checksum "setup.py" }}-{{ checksum "requirements_dev.txt" }}-{{ checksum "install-ml.py" }}
                      - v2-dependencies-
            - run:
                  name: Install dependencies
                  command: |
                      rm -rf venv
                      python -m venv venv || virtualenv venv
                      . venv/bin/activate
                      apt-get update && apt-get install -y libsndfile
                      pip install -r requirements_dev.txt
                      python install-ml.py
                      pip install -e .[dev]
            - save_cache:
                  paths:
                      - ./venv
                  key: v2-dependencies-{{ checksum "setup.py" }}-{{ checksum "requirements_dev.txt" }}-{{ checksum "install-ml.py" }}
            - run:
                  name: Run tests
                  command: |
                      . venv/bin/activate
                      mkdir -p results
                      pytest --cov=wandb --junitxml="results/pytest.xml"
            - store_test_results:
                  path: results
    test-3.5:
        <<: *test-template
        docker:
            - image: circleci/python:3.5
    test-2.7:
        <<: *test-template
        docker:
            - image: circleci/python:2.7
