version: 2.1

orbs:
  slack: circleci/slack@4.12.5
  gcloud: circleci/gcp-cli@3.1.1
  codecov: codecov/codecov@5.0.0

parameters:
  go_version:
    type: string
    default: "1.25.6"
  server_image:
    type: string
    default: "us-central1-docker.pkg.dev/wandb-production/images/local-testcontainer"
  server_image_tag:
    type: string
    default: "master"

executors:
  macos:
    macos:
      xcode: 16.4.0
    resource_class: m4pro.medium

  windows:
    resource_class: windows.xlarge
    machine:
      image: windows-server-2022-gui:current
      shell: bash.exe

  linux-python:
    parameters:
      python: { type: string }
      server_image: { type: string }
      server_image_tag: { type: string }
    docker:
      - image: python:<<parameters.python>>
    resource_class: xlarge

  local-testcontainer:
    parameters:
      python: { type: string }
      server_image: { type: string }
      server_image_tag: { type: string }
    docker:
      - image: "python:<< parameters.python >>"
      - image: << parameters.server_image >>:<< parameters.server_image_tag >>
        auth:
          username: _json_key
          password: $GCP_SERVICE_ACCOUNT_JSON_DECODED
        environment:
          CI: 1
          WANDB_ENABLE_TEST_CONTAINER: true
    resource_class: xlarge

  local-testcontainer-importers:
    parameters:
      python: { type: string }
      server_image: { type: string }
      server_image_tag: { type: string }
      dst_server_name:
        type: string
        default: localhost-wandb-2
    docker:
      - image: "python:<<parameters.python>>"
      # the src server
      - image: <<parameters.server_image>>:<<parameters.server_image_tag>>
        auth:
          username: _json_key
          password: $GCP_SERVICE_ACCOUNT_JSON_DECODED
        environment:
          CI: 1
          WANDB_ENABLE_TEST_CONTAINER: true
      # the dst server
      - image: <<parameters.server_image>>:<<parameters.server_image_tag>>
        auth:
          username: _json_key
          password: $GCP_SERVICE_ACCOUNT_JSON_DECODED
        environment:
          CI: 1
          WANDB_ENABLE_TEST_CONTAINER: true
        name: << parameters.dst_server_name >>
    environment:
      WANDB_TEST_SERVER_URL2: http://<< parameters.dst_server_name >>
    resource_class: xlarge

commands:
  save-test-results:
    description: "Save test results"
    steps:
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - store_artifacts:
          path: mypy-results
      - store_artifacts:
          path: cover-results

  run-nox-tests:
    description:
      Helper command for the nox-tests-* jobs. Runs a nox session and uploads
      test artifacts.
    parameters:
      python: { type: string }
      session: { type: string }
      codecov_flags: { type: string }
    steps:
      - run:
          name: Install Python dependencies
          command: python -m pip install -U nox pip uv
          no_output_timeout: 5m

      - run:
          name: "Run nox session: <<parameters.session>>"
          no_output_timeout: 10m
          command: >
            nox -s "<<parameters.session>>" --python <<parameters.python>> --verbose

      - codecov/upload: { flags: <<parameters.codecov_flags>> }
      - save-test-results

  local-wandb-server-deps:
    description: |
      Installs dependencies for the connect-to-local-testcontainer commands.
    parameters:
      python: { type: string }
    steps:
      - run:
          name: Upgrade pip and uv
          command: python -m pip install -U pip uv
      - run:
          name: Install tool dependencies
          command: uv pip install --system -r requirements_dev.<<parameters.python>>.txt

  connect-to-local-testcontainer:
    description: Make tests use a running local-testcontainer.
    steps:
      - run:
          name: Connect to local-testcontainer
          command: |
            python tools/local_wandb_server.py start \
              --hostname localhost \
              --base-port 8080 \
              --fixture-port 9015

  connect-to-local-testcontainer-importers:
    description: Make importer tests use a running local-testcontainer.
    steps:
      - run:
          name: Connect to local-testcontainer-importers
          command: |
            python tools/local_wandb_server.py start \
              --name wandb-local-testcontainer-importers \
              --hostname localhost-wandb-2 \
              --base-port 8080 \
              --fixture-port 9015

  install_go:
    description: "Install Go with the specified version and system"
    parameters:
      version:
        description: "Go version"
        type: string
        default: << pipeline.parameters.go_version >>
    steps:
      - run:
          name: Install Go
          command: |
            file_name=go<<parameters.version>>
            case $(uname -m) in
              x86_64)
                arch="amd64"
                ;;
              arm64)
                arch="arm64"
                ;;
              *)
                echo "Unsupported architecture: $(uname -m)"
                exit 1
                ;;
            esac

            case $(uname | tr '[:upper:]' '[:lower:]') in
              msys*)
                file_name=$file_name.windows-$arch.zip
                suffix="zip"
                ;;
              darwin*)
                file_name=$file_name.darwin-$arch.tar.gz
                suffix="tar.gz"
                ;;
              linux*)
                file_name=$file_name.linux-$arch.tar.gz
                suffix="tar.gz"
                ;;
              *)
                echo "Unsupported OS: $(uname)"
                exit 1
                ;;
            esac

            curl -L -o $file_name https://go.dev/dl/$file_name
            case $suffix in
              zip)
                unzip -q $file_name -d $HOME
                ;;
              tar.gz)
                tar -C $HOME -xzf $file_name
                ;;
            esac

            rm $file_name

            echo 'export PATH="$HOME/go/bin:$PATH"' >> "$BASH_ENV"

            $HOME/go/bin/go version
            $HOME/go/bin/go env -w GOCACHE=$HOME/.cache/go-build
          no_output_timeout: 1m

  install_rust:
    description: "Install Rust with the specified version"
    parameters:
      version:
        description: "Rust version"
        type: string
        default: "stable"
    steps:
      - run:
          name: Install Rust
          command: |
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain <<parameters.version>>
            echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> "$BASH_ENV"
            $HOME/.cargo/bin/rustup --version
            $HOME/.cargo/bin/cargo --version
          no_output_timeout: 1m

  install_extras:
    description: "Install dependencies for extra tests"
    parameters:
      enabled:
        description: "Whether to install extra dependencies"
        type: boolean
        default: false
    steps:
      - when:
          condition:
            equal: [<< parameters.enabled >>, true]
          steps:
            - run:
                name: Install .NET SDK for the C# client tests
                command: |
                  wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh
                  chmod +x dotnet-install.sh
                  ./dotnet-install.sh --channel 9.0
                  echo 'export PATH="$HOME/.dotnet:$PATH"' >> "$BASH_ENV"
                no_output_timeout: 5m

  setup_gcloud:
    parameters:
      container_registry:
        description: "Container registry to authenticate with"
        type: string
        default: "us-central1-docker.pkg.dev"
    steps:
      - run:
          name: "Setup gcloud and kubectl"
          # gcloud --quiet components update
          command: |
            echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
            gcloud --quiet components install gke-gcloud-auth-plugin
            gcloud --quiet components install kubectl
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud --quiet config set project $GOOGLE_PROJECT_ID
            gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
            gcloud auth configure-docker --quiet << parameters.container_registry >>

jobs:
  nox-tests-linux:
    parameters:
      executor_name:
        description:
          Set to "local-testcontainer" to run using the local-testcontainer
          executor. Defaults to "linux-python".
        type: string
        default: linux-python
      parallelism: { type: integer }
      codecov_flags: { type: string }
      python: { type: string }
      session: { type: string }
      server_image:
        default: << pipeline.parameters.server_image >>
        type: string
      server_image_tag:
        default: << pipeline.parameters.server_image_tag >>
        type: string
      install_extras:
        description: "Install extra dependencies"
        default: false
        type: boolean

    parallelism: <<parameters.parallelism>>
    executor:
      name: <<parameters.executor_name>>
      python: <<parameters.python>>
      server_image: <<parameters.server_image>>
      server_image_tag: <<parameters.server_image_tag>>

    steps:
      - checkout
      - run:
          name: Install system deps
          command: apt-get update && apt-get install -y libsndfile1 ffmpeg git
      - install_go
      - install_rust
      - install_extras:
          enabled: <<parameters.install_extras>>

      - when:
          condition:
            equal: ["local-testcontainer", <<parameters.executor_name>>]
          steps:
            - local-wandb-server-deps: { python: <<parameters.python>> }
            - connect-to-local-testcontainer
      - when:
          condition:
            equal:
              ["local-testcontainer-importers", <<parameters.executor_name>>]
          steps:
            - local-wandb-server-deps: { python: <<parameters.python>> }
            - connect-to-local-testcontainer
            - connect-to-local-testcontainer-importers

      - run-nox-tests:
          codecov_flags: <<parameters.codecov_flags>>
          python: <<parameters.python>>
          session: <<parameters.session>>

  nox-tests-macos:
    parameters:
      parallelism: { type: integer }
      codecov_flags: { type: string }
      python: { type: string }
      session: { type: string }

    parallelism: <<parameters.parallelism>>
    executor: macos

    steps:
      - checkout
      - run:
          name: Install system deps
          command: brew install ffmpeg python@<<parameters.python>>
      - install_go
      - install_rust
      - run-nox-tests:
          codecov_flags: <<parameters.codecov_flags>>
          python: <<parameters.python>>
          session: <<parameters.session>>

  nox-tests-win:
    parameters:
      parallelism: { type: integer }
      codecov_flags: { type: string }
      python: { type: string }
      session: { type: string }

    parallelism: <<parameters.parallelism>>
    executor: windows

    steps:
      - checkout

      # https://docs.python.org/3/using/windows.html#the-nuget-org-packages
      - run:
          name: Install Python
          command: >
            nuget.exe install python \
              -Version <<parameters.python>> \
              -ExcludeVersion \
              -OutputDirectory "/c/nox-tests-python" &&
            setx PATH '/c/nox-tests-python/python/tools;%PATH%'

      - run:
          name: "Install system deps: ffmpeg"
          command: choco install -y ffmpeg
      - run:
          # We install mingw so that gcc is available, which is needed for cgo.
          name: "Install system deps: mingw"
          command: choco install -y mingw --version 12.2 --allow-downgrade

      - install_go
      - install_rust
      - run-nox-tests:
          codecov_flags: <<parameters.codecov_flags>>
          python: <<parameters.python>>
          session: <<parameters.session>>

  code-check:
    docker:
      - image: "python:3.10"
    steps:
      - checkout
      - install_go
      - install_rust
      - run:
          name: Install Python dependencies
          command: python -m pip install -U nox pip uv
          no_output_timeout: 5m
      - run:
          name: Ensure proto files were generated
          command: nox -vt proto-check
      - run:
          name: Automatically generate code and check for changes
          command: |
            uv venv .venv-codegen
            source .venv-codegen/bin/activate
            uv pip install ruff .
            python tools/generate-tool.py --generate --check
      - run:
          name: Run mypy and report results
          command: nox -vs mypy-report
      - run:
          name: Run import sanity check
          command: |
            uv venv .venv-deps
            source .venv-deps/bin/activate
            uv pip install .
            python -c 'import wandb'
      - run:
          name: Check wandb-core binary size vs main branch
          command: nox -s wandb-core-size-check
      - run:
          name: Check wandb library import time vs main branch
          command: nox -s wandb-import-time-check
      - save-test-results

  unit-tests-go:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: Install system deps
          command: |
            sudo apt-get update
      - install_go
      - run:
          name: Run wandb core's Go tests and collect coverage
          command: |
            cd core
            go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      - codecov/upload: { flags: unit }

  # Download the local-testcontainer image corresponding to the latest server release
  # and store it in wandb-client-cicd/images/local-testcontainer.
  # No-op if already stored.
  store-local-testcontainer:
    docker:
      - image: "python:3.11"
    resource_class: small
    working_directory: /mnt/ramdisk
    steps:
      - checkout
      - run:
          name: Install system deps
          command: |
            apt-get update
      - install_go
      - gcloud/install
      - setup_gcloud
      - run:
          name:
          command: |
            go install github.com/google/go-containerregistry/cmd/gcrane@latest
            python -m pip install -U pip nox requests uv
            nox -s local-testcontainer-registry
          no_output_timeout: 5m

workflows:
  main:
    jobs:
      #
      # Linting
      #
      - code-check

      #
      # Store latest local-testcontainer
      #
      - store-local-testcontainer:
          filters:
            branches:
              only:
                - main

      #
      # Unit tests with Go on Linux
      #
      - unit-tests-go

      #
      # Unit tests with pytest on Linux
      #
      - nox-tests-linux:
          name: unit-tests-linux-<<matrix.python>>
          session: unit_tests
          codecov_flags: unit
          parallelism: 4

          matrix:
            parameters:
              python: ["3.8", "3.13"]

      - nox-tests-linux:
          name: unit-tests-pydantic-v1-linux-<<matrix.python>>
          session: unit_tests_pydantic_v1
          codecov_flags: unit
          parallelism: 2

          matrix:
            parameters:
              python: ["3.8", "3.13"]

      #
      # Unit tests with pytest on macOS
      #
      - nox-tests-macos:
          name: unit-tests-macos-<<matrix.python>>
          session: unit_tests
          codecov_flags: unit
          parallelism: 4

          matrix:
            parameters:
              python: ["3.9", "3.13"]

      #
      # Unit tests with pytest on Windows
      #
      - nox-tests-win:
          name: unit-tests-win-<<matrix.python>>
          session: unit_tests
          codecov_flags: unit
          parallelism: 4

          filters:
            branches:
              only:
                - main
                - /^release-.*/
                - /^.*-ci-win$/

          matrix:
            parameters:
              python: ["3.9", "3.13"]

      #
      # System tests on Linux
      #
      - nox-tests-linux:
          name: system-tests-linux-<<matrix.python>>
          session: system_tests
          codecov_flags: system
          parallelism: 8
          executor_name: local-testcontainer

          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/

          matrix:
            parameters:
              python: ["3.8", "3.13"]

      - nox-tests-linux:
          name: system-tests-min-server-version-linux-<<matrix.python>>
          session: system_tests
          codecov_flags: system
          parallelism: 8
          executor_name: local-testcontainer

          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/

          matrix:
            parameters:
              python: ["3.13"]
              server_image:
                [
                  "us-central1-docker.pkg.dev/wandb-client-cicd/images/local-testcontainer",
                ]
              server_image_tag: ["0.63.0"]

      - nox-tests-linux:
          name: notebook-tests-linux-<<matrix.python>>
          session: notebook_tests
          codecov_flags: system
          parallelism: 1
          executor_name: local-testcontainer

          matrix:
            parameters:
              python: ["3.8", "3.13"]

      #
      # Functional tests with pytest on Linux
      #
      - nox-tests-linux:
          name: functional-tests-linux-<<matrix.python>>
          session: functional_tests
          codecov_flags: func
          parallelism: 1
          executor_name: local-testcontainer

          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/

          matrix:
            parameters:
              python: ["3.13"]

      #
      # Functional tests of experimental clients with pytest on Linux
      #
      - nox-tests-linux:
          name: experimental-tests-linux-<<matrix.python>>
          session: experimental_tests
          codecov_flags: func
          parallelism: 1
          executor_name: local-testcontainer
          install_extras: true

          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/

          matrix:
            parameters:
              python: ["3.13"]

      #
      # W&B Importer tests on Linux, using 2 real wandb servers
      #
      - nox-tests-linux:
          name: system-tests-linux-importers-wandb
          session: importer_tests-3.9(importer='wandb')
          codecov_flags: system
          parallelism: 1
          executor_name: local-testcontainer-importers
          python: "3.9"
      # FIXME: mlflow importer requires pydantic<2
      # - nox-tests-linux:
      #     name: system-tests-linux-importers-mlflow
      #     session: importer_tests-3.9(importer='mlflow')
      #     codecov_flags: system
      #     parallelism: 1
      #     executor_name: local-testcontainer-importers
      #     python: "3.9"
