version: 2
workflows:
    version: 2
    test:
        jobs:
            - test-3.6
            - test-3.5
            - test-2.7
            - test-3.7-no-ml
            - test-3.7-edge-ml
jobs:
    test-3.6: &test-template
        docker:
            - image: python:3.6
        working_directory: ~/repo
        resource_class: large
        steps:
            - checkout
            - run:
                  name: Install system deps
                  command: apt-get update && apt-get install -y libsndfile1 ffmpeg
            - run:
                  name: Setup venv
                  command: python -m venv venv || virtualenv venv
            - restore_cache:
                  keys:
                      - v3.4-dependencies-{{ checksum "setup.py" }}-{{ checksum "requirements_dev.txt" }}-{{ .Environment.CIRCLE_JOB }}
                      - v3.4-dependencies-{{ .Environment.CIRCLE_JOB }}
            - run:
                  name: Install python dependencies
                  command: |
                      . venv/bin/activate
                      pip --version
                      pip install cmake==3.15.3 numpy==1.16.0
                      pip install -r requirements_dev.txt --upgrade
                      pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
                      pip install -e .[dev]
            - save_cache:
                  paths:
                      - ./venv
                  key: v3.4-dependencies-{{ checksum "setup.py" }}-{{ checksum "requirements_dev.txt" }}-{{ .Environment.CIRCLE_JOB }}
            - run:
                  name: Run tests
                  command: |
                      . venv/bin/activate
                      mkdir -p results
                      pytest --cov=wandb --vcr-record=none --junitxml="results/pytest.xml"
                      flake8 .
            - store_test_results:
                  path: results
    test-3.5:
        <<: *test-template
        docker:
            - image: python:3.5
    test-2.7:
        <<: *test-template
        resource_class: xlarge # installing torch takes a ton of ram
        docker:
            - image: python:2.7
    test-3.7-edge-ml:
        <<: *test-template
        docker:
            - image: python:3.7
        steps:
            - checkout
            - run:
                  name: Setup venv
                  command: python -m venv venv || virtualenv venv
            - restore_cache:
                  keys:
                      - v3.3-dependencies-edge-ml-{{ checksum "setup.py" }}-{{ checksum "requirements_edgeml.txt" }}
                      - v3.3-dependencies-edge-ml
            - run:
                  name: Install dependencies
                  command: |
                      . venv/bin/activate
                      python install-ml.py
                      pip install -r requirements_edgeml.txt --upgrade
                      pip install -e .[dev]
            - save_cache:
                  paths:
                      - ./venv
                  key: v3.3-dependencies-edge-ml-{{ checksum "setup.py" }}-{{ checksum "requirements_edgeml.txt" }}
            - run:
                  name: Run tests
                  command: |
                      . venv/bin/activate
                      mkdir -p results
                      pytest --cov=wandb --vcr-record=none --junitxml="results/pytest.xml" edgeml_tests
            - store_test_results:
                  path: results
    test-3.7-no-ml:
        <<: *test-template
        docker:
            - image: python:3.7
              environment:
                  NO_ML: "true"
        steps:
            - checkout
            - run:
                  name: Setup venv
                  command: python -m venv venv || virtualenv venv
            - restore_cache:
                  keys:
                      - v3.2-dependencies-no-ml-{{ checksum "setup.py" }}-{{ checksum "requirements_noml.txt" }}
                      - v3.2-dependencies-no-ml
            - run:
                  name: Install dependencies
                  command: |
                      . venv/bin/activate
                      pip install -r requirements_noml.txt
                      pip install --upgrade -e .[dev]
            - save_cache:
                  paths:
                      - ./venv
                  key: v3.2-dependencies-no-ml-{{ checksum "setup.py" }}-{{ checksum "requirements_noml.txt" }}
            - run:
                  name: Run tests
                  command: |
                      . venv/bin/activate
                      mkdir -p results
                      pytest --cov=wandb --vcr-record=none --junitxml="results/pytest.xml" tests/test_headless.py tests/test_cli.py tests/test_wandb.py
            - store_test_results:
                  path: results
