[Unit]
Description= Weights & Biases launch agent service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=path/to/installed/wandb launch-agent

[Install]
WantedBy=multi-user.target