altgraph==0.17
apipkg==1.5
appdirs==1.4.4
appnope==0.1.2
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
aws-mfa==0.0.12
backcall==0.2.0
black==19.10b0
bleach==3.3.0
bokeh==2.2.3
boto3==1.16.38
botocore==1.19.38
bump2version==1.0.1
bumpversion==0.6.0
cachetools==4.2.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configparser==5.0.1
coverage==5.3
coveralls==2.2.0
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
docker-pycreds==0.4.0
docopt==0.6.2
docspec-python==0.0.7
docspec==0.2.0
docutils==0.16
execnet==1.8.0
filelock==3.0.12
fire==0.3.1
flake8==3.8.4
flask==1.1.2
gitdb2==2.0.6
gitdb==4.0.5
gitpython==2.1.15
google-api-core==1.24.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-crc32c==1.1.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio-tools==1.27.2
grpcio==1.27.2
h5py==3.1.0
idna==2.10
imageio-ffmpeg==0.4.2
imageio==2.9.0
importlib-metadata==3.7.2
iniconfig==1.1.1
ipdb==0.13.4
ipykernel==5.4.2
ipython-genutils==0.2.0
ipython==7.19.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.17.2
jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
keyring==23.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
libcst==0.3.16
lyft-dataset-sdk==0.0.8
macholib==1.14
markupsafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
moviepy==1.0.3
mypy-extensions==0.4.3
mypy-protobuf==2.4
nbclient==0.5.1
nbformat==5.0.8
nest-asyncio==1.4.3
nr.collections==0.0.1
nr.databind.core==0.0.22
nr.databind.json==0.0.14
nr.fs==1.6.3
nr.interface==0.0.4
nr.metaclass==0.0.6
nr.parsing.date==0.4.3
nr.pylang.utils==0.0.4
nr.stream==0.0.5
nr.sumtype==0.0.4
nr.utils.re==0.1.1
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.8
pandas==1.1.5
parso==0.7.1
pathspec==0.8.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==6.1.0
pip==20.2.3
pkginfo==1.7.0
plotly==4.13.0
pluggy==0.13.1
proglog==0.1.9
promise==2.2.1
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.7.3
ptyprocess==0.6.0
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydoc-markdown==3.9.0
pyflakes==2.2.0
pygments==2.7.2
pyinstaller-hooks-contrib==2020.11
pyinstaller==4.2
pylint==2.6.0
pyparsing==2.4.7
pyquaternion==0.9.9
pyrsistent==0.17.3
pytest-cov==2.11.1
pytest-flakefinder==1.0.0
pytest-flask==1.1.0
pytest-forked==1.3.0
pytest-mock==3.2.0
pytest-openfiles==0.5.0
pytest-timeout==1.4.2
pytest-xdist==2.2.1
pytest==6.2.1
python-dateutil==2.8.1
pytz==2020.4
pyyaml==5.3.1
pyzmq==20.0.0
readme-renderer==29.0
regex==2020.11.13
requests-toolbelt==0.9.1
requests==2.25.0
retrying==1.3.3
rfc3986==1.4.0
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.4
sentry-sdk==0.19.4
setuptools==49.2.1
shapely==1.7.1
shortuuid==1.0.1
six==1.14.0
sklearn==0.0
smmap2==3.0.1
smmap==3.0.4
soundfile==0.10.3.post1
subprocess32==3.5.4
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tox==3.7.0
tqdm==4.54.0
traitlets==5.0.5
twine==3.3.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
virtualenv==20.2.2
wandb==0.10.26.dev1
watchdog==1.0.1
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.1