allennlp
autogluon
autokeras
# avalanche
catalyst
catboost
# dalle-pytorch
# datasets
deepchem
deepctr
# deeppavlov
# detectron
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
