# paddle
parlai
prophet
pycaret
pytorch-ignite
pytorchvideo
pytorch_lightning
ray
scikit-learn
simpletransformers
skorch
spacy>=3.1
mistune>=2.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
