spleeter
stable-baselines3
syft
tensorflow
tensorforce
TensorLayer
tensorlayer
tensortrade
tf-agents
tianshou
tokenizers
torch
numpy>=1.22.0 # not directly required, pinned by Snyk to avoid a vulnerability
