.segment.logs > div {
  height: 400px;
  font-family: monospace;
}

.logs .ui.ordered.list > .item:before {
  margin-left: -3rem;
}
.logs .ui.ordered.list {
  margin-left: 1rem;
  white-space: nowrap;
}
.logs .ui.ordered.list .item.error {
  color: #db2828;
}
.ui.ordered.list .item:before {
  position: absolute;
  top: auto;
  left: auto;
  user-select: none;
  pointer-events: none;
  margin-left: -3rem;
  counter-increment: ordered;
  content: counters(ordered, ".") " ";
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
  opacity: 0.8;
}
.ReactVirtualized__Grid {
  outline: none !important;
}
