.panelImagesWrapper :focus {
  outline: none;
}
.panelImagesWrapper .slick-dots {
  bottom: 0;
  margin: 10px 0 20px;
  position: relative;
}
.slick-initialized.slickEnabled .slick-slide {
  cursor: move;
}
.panelImagesWrapper input[type='range'] {
  cursor: pointer;
  width: 100%;
}
.imageWrapper {
  text-align: center;
}

.panelImagesWrapper .slick-prev,
.panelImagesWrapper .slick-next {
  height: 30px;
  margin-top: -15px;
  width: 30px;
  z-index: 999;
}
.panelImagesWrapper .slick-prev {
  left: 0;
}
.panelImagesWrapper .slick-next {
  right: 0;
}
.panelImagesWrapper .slick-prev:before,
.panelImagesWrapper .slick-next:before {
  color: #707070;
  font-size: 30px;
}
