.buttons.runFilterViewer button.delete {
  display: none;
}

.buttons.runFilterViewer button.filter {
  border-radius: 0.29rem;
}

.runFilters:hover .buttons.runFilterViewer button.filter {
  border-radius: 0.29rem 0 0 0.29rem;
}

.runFilters:hover .buttons.runFilterViewer button.delete {
  display: block;
}

.ui.button.orButton {
  display: none;
}

.runFilters:hover .ui.button.orButton {
  display: inline;
}

.ui.button.andButton {
  display: none;
}

.runFilters:hover .ui.button.andButton {
  display: inline;
}

.runFiltersEmpty .ui.button.andButton {
  display: inline;
}
