.runPlots .scatter svg text.label {
    fill: #666;
}
.runPlots .scatter svg {
    height: 320px;
}
.runPlots .react-autosuggest__container {
    display: inline;
    margin-right: 12px;
}

.runPlots .react-autosuggest__input {
    width: 220px;
}