-r requirements_test.txt

cloudpickle
click
filelock
pydantic

# For Pydantic to work with modern type annotations in older Pythons:
eval-type-backport; python_version < '3.10'

Pillow
polars
# Version 2.0.0 removes moviepy.editor, used by TensorBoard in some tests
# to log videos.
moviepy~=1.0
imageio[ffmpeg]
matplotlib
soundfile
rdkit
plotly
bokeh

tqdm
tenacity

ipython
jupyter
ipykernel
nbclient

tensorflow~=2.20; sys_platform != 'darwin'
numpy<2.4.0  # tensorflow==2.20.0 uses deprecated args removed in numpy==2.4.0

scikit-learn
torch
torchvision
jax[cpu]
lightning
# As of 2025/10/08, ray wheels for python>=3.13 are not available for Windows.
ray[air,tune]; sys_platform != 'win32'

pyarrow
metaflow
xgboost
lightgbm
mlflow
urllib3
docker
catboost
openai
gymnasium
stable_baselines3
dspy

requests
responses
prometheus_client
google-cloud-aiplatform

# See:
# - https://github.com/boto/botocore/pull/1107
# - https://github.com/boto/botocore/pull/1230
boto3
botocore>=1.5.76

# `ariadne-codegen` is a dev-only dependency used for GraphQL codegen.
ariadne-codegen

.[perf]
awscli; sys_platform == 'win32'
.[launch]
.[sweeps] ; sys_platform != 'darwin' or (sys_platform == 'darwin' and platform.machine != 'arm64')
.[azure]
