# spleeter
# stable-baselines3
# syft
# todo: update once syft releases a fix
git+https://github.com/OpenMined/PySyft@dev#egg=syft
# tensorflow
# tensorforce
# TensorLayer
# tensorlayer
# tensortrade
# tf-agents
# tianshou
# tokenizers
# torch
