[run]
parallel = True
# TODO(jhr): enable this in the future
# branch = True
concurrency = multiprocessing,thread

source =
   ../.tox/func-py36/lib/python3.6/site-packages/wandb
   ../.tox/func-py37/lib/python3.7/site-packages/wandb
   ../.tox/func-py38/lib/python3.8/site-packages/wandb
   ../.tox/func-py39/lib/python3.9/site-packages/wandb
   ../wandb/
