keras
pytorch_lightning
transformers
spacy>=3.1
fastai>=2.5
yolov5
pytorch-ignite
catalyst
skorch
TTS
espnet
catboost
lightgbm
scikit-learn
xgboost
detectron2
detectron
simpletransformers
pycaret
fairseq
flair
allennlp
optuna
ray
flash_lightning
mmdet
mmcv
paddle
syft
stable-baselines3
deepchem
icevision
tianshou
datasets
tokenizers
huggingface_hub
mmf
detr
pytorchvideo
greykite
prophet
parlai
nemo_toolkit['all']
dalle-pytorch
torch-points3d
autogluon
autokeras
avalanche
hivemind
easyocr
spleeter
torch_geometric
horovod
nni
tensorlayer
deeppavlov
onmt
deepctr
TensorLayer
tensortrade
tensorforce
tf-agents