body {
  overflow-x: auto !important;
}

#root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#root > div .main {
  flex: 1;
  padding-bottom: 50px;
}
#root .menu .logo {
  width: 3.8em;
  padding: -10px 0;
}
.auth0-lock.auth0-lock .auth0-lock-name {
  overflow: visible !important;
}
.main {
  margin-top: 5em;
}
.main .ui.large.breadcrumb {
  height: 40px;
}
pre {
  max-width: 650px;
  font-size: 0.85em !important;
}
pre.instructions {
  background-color: #555 !important;
  padding: 9px;
  margin-right: 8px;
  border-radius: 5px;
  margin: 0 !important;
}
.ui.text.container .ReactTable .rt-table {
  /* Because it's borked in Safari... */
  flex: 1 1 auto;
}
/*
#root .ui.text.container {
  max-width: 1024px !important;
}
*/
.model_name input {
  font-weight: bold;
  color: #4183c4 !important;
}
img.logo.inverted {
  filter: invert(80%);
}
.footer {
  color: #888 !important;
}
.model .ui.mini.statistics .statistic > .value,
.model .ui.mini.statistics .statistic > .label {
  color: #888;
  font-size: 1rem !important;
  font-family: monospace;
}
.model .item .content .description {
  max-height: 250px;
  overflow: auto;
}
.model .item .content .description pre {
  max-width: none;
}
.model .item .content .description.markdown {
  max-height: none;
}
.top.menu .ui.dropdown {
  margin: 8px 0;
}
body .ui.table tr.active {
  background-color:#e5f9e7 !important;
}
body .ui.form .field {
  margin: 0 0 2em;
}
body .ui.active.button {
  background-color:#e5f9e7 !important;
}

body .input-style {
  border: 1px solid rgba(34,36,38,.15);
  padding: 0 8px 8px 8px;
  border-radius: .29rem;
}