[run]
parallel = True
# TODO(jhr): enable this in the future
# branch = True
concurrency = multiprocessing,thread

source =
    ../..

omit =
    ../../.tox/*
    ../../wandb/vendor/*
    ../../setup.py
    ../../codemod/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
