[run]
parallel = True
# TODO(jhr): enable this in the future
# branch = True
concurrency = multiprocessing,thread

source =
    ../..

omit =
    ../../.tox/*
    ../../.tox/py*
    ../../codemod/*
    ../../setup.py
    ../../tests/*
    ../../wandb/sweeps/*
    ../../wandb/vendor/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
