name: PR Title Bot

on:
  issue_comment:
    types: [created]
  workflow_dispatch:
    inputs:
      suggest-title:
        description: 'Trigger the bot to suggest a new title'
        required: true
        type: boolean
        default: false
      fix-title:
        description: 'Trigger the bot to fix the title'
        required: true
        type: boolean
        default: false

jobs:
  handle_pr_title:
    runs-on: ubuntu-latest
    #if: github.event.issue.pull_request && (contains(github.event.comment.body, '/suggest-title') || contains(github.event.comment.body, '/fix-title'))
    steps:
    - name: Print GitHub Event
      run: echo "${{ toJson(github.event) }}"
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: pip install pygithub openai

    - name: Run script to get new title
      id: get_new_title
      run: |
        title=$(GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }} python tools/pr-title-bot.py ${{ github.event.number }})
        echo "title=$title" >> $GITHUB_OUTPUT

    - name: Suggest title
      if: contains(github.event.comment.body, '/suggest-title')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl -L \
          -X POST \
          https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/issues/${{ github.event.number }}/comments \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $GITHUB_TOKEN"\
          -H "X-GitHub-Api-Version: 2022-11-28" \
          --data '{ "body": "Suggested title:\n```\n${{ steps.get_new_title.outputs.title }}\n```" }'

    - name: Update PR title
      if: contains(github.event.comment.body, '/fix-title')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl -L \
          -X POST \
          https://api.github.com/repos/${{ github.repository_owner }}/${{ github.event.repository.name }}/pulls/${{ github.event.number }} \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $GITHUB_TOKEN"\
          -H "X-GitHub-Api-Version: 2022-11-28" \
          --data '{ "title": "${{ steps.get_new_title.outputs.title }}" }'
