name: Generate Docodile Documentation

env:
  # share an ssh-agent socket across jobs
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock

on: # Whenever a release is published,
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      ref:
        description: 'Reference (tag or commit sha) to generate docs from'
        required: false

jobs: # update the docs.
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: wandb/docugen@v0.4.0
        with:
          docodile-branch: main
          wandb-branch: ${{ github.event.inputs.ref || github.ref }}
          generate-sdk-docs: true
          generate-weave-docs: false
          access-token: ${{ secrets.DOCUGEN_ACCESS_TOKEN }}
