name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - uses: actions/setup-go@v6
        with:
          go-version-file: core/go.mod
          cache-dependency-path: core/go.sum
      - uses: j178/prek-action@v1
        with:
          extra_args: --hook-stage pre-push --all-files
        env:
          SKIP: go-generate-graphql
