name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.9"
      - uses: actions/setup-go@v6
        with:
          go-version-file: core/go.mod
          cache-dependency-path: core/go.sum
      - name: Setup and run prek hooks
        run: |
          go version
          curl --proto '=https' --tlsv1.2 -LsSf \
            https://github.com/j178/prek/releases/download/v0.3.0/prek-installer.sh | sh
          prek run --hook-stage pre-push --all-files --skip go-generate-graphql
