name: Build and Release W&B SDK

on:
  workflow_dispatch:

jobs:
#  build:
#    name: Build wheels
#    runs-on: ubuntu-latest
#    timeout-minutes: 10
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          ref: ${{ github.ref }}
#      - name: Set up Python
#        uses: actions/setup-python@v4
#        with:
#          python-version: "3.9"
#      - name: Install dependencies
#        run: pip install -U -r requirements_build.txt
#      - name: Build source and wheels
#        run: |
#          python -m build -n
#          ls -l dist
#      - uses: actions/upload-artifact@v3
#        with:
#          name: wandb-sdk-distributions
#          path: ./dist

#  test-pypi-publish:
#    name: Publish to TestPyPI
#    needs: build
#    runs-on: ubuntu-latest
#    environment:
#      name: release
#      url: https://test.pypi.org/p/wandb
#    permissions:
#      id-token: write  # trusted publishing
#    steps:
#      - name: Download distribution
#        uses: actions/download-artifact@v3
#        with:
#          name: wandb-sdk-distributions
#          path: dist/
#      - name: List distribution
#        run: ls dist/
#      - name: Publish distribution to TestPyPI
#        uses: pypa/gh-action-pypi-publish@release/v1
#        with:
#          repository-url: https://test.pypi.org/legacy/

  verify-test-pypi:
    name: Verify TestPyPI upload
#    needs: test-pypi-publish
    runs-on: ubuntu-latest
    steps:
      - name: Install wandb from TestPyPI
        run: |
          sleep 10
          python -m pip install --upgrade pip
          python -m pip install --index-url https://test.pypi.org/simple/ --pre wandb
      - name: Smoke-test wandb TestPyPI install
        run: |
          python -c "import wandb; run = wandb.init(settings={'mode': 'offline'}); run.finish()"

#  pypi-publish:
#    name: Publish to PyPI
#    needs: test-pypi-publish
#    runs-on: ubuntu-latest
#    environment:
#      name: release
#      url: https://pypi.org/p/wandb
## todo: add
##    permissions:
##      id-token: write  # trusted publishing
#    steps:
#      - name: Download distribution
#        uses: actions/download-artifact@v3
#        with:
#          name: wandb-sdk-distributions
#          path: dist/
#      - name: List distribution
#        run: ls dist/
#      - name: Publish distribution to PyPI
#        uses: pypa/gh-action-pypi-publish@release/v1
#        with:
#          password: ${{ secrets.PYPI_TOKEN }}
