name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:


env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        working-directory: ./client
        run: cargo build --verbose
      - name: Run tests
        working-directory: ./client
        run: cargo test --verbose
