polyfactory # for test_reports

pandas      # for test_dtypes.py
pillow      # for test_dtypes.py
rdkit       # for test_data_types.py
plotly      # for test_util.py

# Additional test deps:
httpx
hypothesis
parameterized
responses